.root {
  --button-bg-color: #ffffff;
}

header {
  height: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid gray;
}

h1 {
  text-align: center;
  /* font-family:  */
}
h5 {
  margin-top: -10px;
}

.main-body {
  display: flex;
}

footer {
  border-top: 0.5px solid gray;
  margin: 0 -20px;
  padding: 20px 30px;
  position: sticky;
  text-align: center;
}

a:link,
a:visited,
a:focus {
  color: black;
}

a:hover {
  background: rgb(118, 230, 224);
}

a:active {
  background: rgb(36, 104, 136);
  color: rgb(255, 255, 255);
}

button {
  font-family: monospace;
  background-color: snow;
}

.bubble {
  /* separated for future additions */
  margin: 20px;
  border-radius: 45px;
  width: 50px;
  height: 50px;
  border: 0.5px solid #3c494d;
  background-color: var(--button-bg-color);
}

.bubble-field {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-button {
  background-color: lightsteelblue;
  border: 0;
}

.menu {
  height: 0;
  overflow: hidden;
  background-color: lightsteelblue;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.menu.show {
  display: block;
  height: 50px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
}

/* .menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* .menu-button:hover ~ .menu-container .menu {
  display: block;
} */

.menu-button:hover {
  transform: scale(1.2);
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  color:lightgoldenrodyellow;
  font-weight: bolder;
}

.menu-list > li:hover {
  color: #607d8b
}